body {
  background-color: rgba(33,33,33,1.0);
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Carter One', sans-serif;
}

.imgwidth {
  max-width: 100%;
}

.my-logo {
  width: 200px;
  transform-origin: center;
}

@keyframes growshrink {
  0% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes wiggle {
  0% {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  25% {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  75% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes linegrow {
  from {
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  to {
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes revealheader {
  0% {
    opacity: 0;
    -ms-transform: translateY(1em);
    -webkit-transform: translateY(1em);
    transform: translateY(1em);
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: .4;
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

a {
  color: #fff;
}

.link-animation:hover {
  animation: growshrink 1500ms ease-out infinite;
}

a:visited {
  text-decoration: line-through;
}

.icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../images/link-icon.svg");
}

.icon:hover {
  animation: wiggle 1s ease-in-out 1;
}

.rotateheader {
  -ms-transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -ms-transform: rotateZ(-10deg);
  -webkit-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  -ms-transition: transform 150ms linear;
  -webkit-transition: transform 150ms linear;
  transition: transform 150ms linear;
}

.levelheader {
  -ms-transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -ms-transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  -ms-transition: transform 250ms linear;
  -webkit-transition: transform 250ms linear;
  transition: transform 250ms linear;
}

.cursorchange:hover {
  cursor: pointer;
}

.fontsizing {
  opacity: 0;
  padding-left: .5em;
  font-size: 2.7rem;
  animation: revealheader 1s linear forwards;
}

.fontsizing-1 {
  opacity: 0;
  padding-left: .5em;
  font-size: 2.7rem;
  animation: revealheader 1s linear .25s forwards;
}

.fontsizing-2 {
  opacity: 0;
  padding-left: .5em;
  font-size: 2.7rem;
  animation: revealheader 1s linear .5s forwards;
}

.underlining {
  width: 213.3px;
  height: 1px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-bottom: 3em;
  transform-origin: top left;
  transform: scaleX(0);
  animation: linegrow 450ms linear forwards;
}

.underlining-1 {
  width: 213.3px;
  height: 1px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-bottom: 3em;
  transform-origin: top left;
  transform: scaleX(0);
  animation: linegrow 450ms linear .25s forwards;
}

.underlining-2 {
  width: 213.3px;
  height: 1px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-bottom: 3em;
  transform-origin: top left;
  transform: scaleX(0);
  animation: linegrow 450ms linear .5s forwards;
}

.underliningxl {
  width: 290px;
  height: 1px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  transform-origin: top left;
  transform: scaleX(0);
  animation: linegrow 450ms linear .5s forwards;
}

.pushmore {
  margin-bottom: 4rem;
}

.content-grow {
  max-height: 0;
  overflow: hidden;
  margin-top: -2em;
  transform-origin: center top;
  opacity: 0;
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  transition: transform 250ms ease-out, opacity 175ms ease-out, max-height 250ms ease-out;
}

.content-grow-open {
  max-height: 100em;
  opacity: 1;
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

#vimeo-icon:hover {
  animation: wiggle 1s ease-in-out 1;
}

#instagram-icon:hover {
  animation: wiggle 1s ease-in-out 1;
}

#behance-logo:hover {
  animation: wiggle 1s ease-in-out 1;
}

#linkedin-logo:hover {
  animation: wiggle 1s ease-in-out 1;
}

.column-width {
  padding-left: .5em;
  padding-right: .5em;
}

@media only screen and (min-width: 25em) {
  .fontsizing {
    font-size: 3rem;
  }

  .fontsizing-1 {
    font-size: 3rem;
  }

  .fontsizing-2 {
    font-size: 3rem;
  }

  .underlining {
    width: 235px;
  }

  .underlining-1 {
    width: 235px;
  }

  .underlining-2 {
    width: 235px;
  }
}

@media only screen and (min-width: 38em) {
  .masthead {
    margin-bottom: 4rem;
  }

  .case-study-masthead {
    margin-bottom: 5.5rem;
  }

  .fontsizing {
    font-size: 3.5rem;
  }

  .fontsizing-1 {
    font-size: 3.5rem;
  }

  .fontsizing-2 {
    font-size: 3.5rem;
  }

  .underlining {
    width: 305px;
  }

  .underlining-1 {
    width: 305px;
  }


  .underlining-2 {
    width: 305px;
  }


  .underliningxl {
    width: 410px;
  }

  .column-width {
    padding-left: 2em;
    padding-right: 18em;
  }

  #work {
    margin-top: -1em;
  }

  #contact {
    margin-top: -3em;
  }
}

@media only screen and (min-width: 60em) {
  .pushmore {
    margin-bottom: 4rem;
  }

  .fontsizing {
    font-size: 4rem;
  }

  .fontsizing-1 {
    font-size: 4rem;
  }

  .fontsizing-2 {
    font-size: 4rem;
  }

  .underlining {
    width: 380px;
  }

  .underlining-1 {
    width: 380px;
  }

  .underlining-2 {
    width: 380px;
  }

  .underliningxl {
    width: 512px;
  }

  .column-width {
    padding-right: 28em;
  }
}

@media only screen and (min-width: 90em) {
  .masthead {
    margin-bottom: 5rem;
  }

  .pushmore {
    margin-bottom: 7rem;
  }

  .fontsizing {
    font-size: 5rem;
    margin-bottom: 1.5rem;
  }

  .fontsizing-1 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
  }

  .fontsizing-2 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
  }

  .underlining {
    width: 515px;
  }

  .underlining-1 {
    width: 515px;
  }

  .underlining-2 {
    width: 515px;
  }

  .underliningxl {
    width: 690px;
  }

  .column-width {
    padding-right: 40em;
  }
}
