body {
  background-color: rgba(33,33,33,1.0);
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Carter One', sans-serif;
}

.imgwidth {
  max-width: 100%;
}

@keyframes growshrink {
  0% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes wiggle {
  0% {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  25% {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  75% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

a {
  color: #fff;
}

a:hover {
  animation: growshrink 1500ms ease-out infinite;
}

a:visited {
  text-decoration: line-through;
}

.icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../images/link-icon.svg");
}

.icon:hover {
  animation: wiggle 1s ease-in-out 1;
}

.rotatez {
  -ms-transform-origin: bottom left;
  -ms-transform: rotateZ(-10deg);
  -webkit-transform-origin: bottom left;
  -webkit-transform: rotateZ(-10deg);
  transform-origin: bottom left;
  transform: rotateZ(-10deg);
}

.fontsizing {
  padding-left: .5em;
  font-size: 2.7rem;
}

.underlining {
  width: 213.3px;
  height: 1px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
}

.underliningxl {
  width: 290px;
  height: 1px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
}

.pushmore {
  margin-bottom: 4rem;
}

#aboutMe {
  display: none;
}

#work {
  display: none;
}

#vimeo-icon:hover {
  animation: wiggle 1s ease-in-out 1;
}

#instagram-icon:hover {
  animation: wiggle 1s ease-in-out 1;
}

@media only screen and (min-width: 25em) {
  .fontsizing {
    font-size: 3rem;
  }

  .underlining {
    width: 235px;
  }
}

@media only screen and (min-width: 38em) {
  .masthead {
    margin-bottom: 4rem;
  }

  .case-study-masthead {
    margin-bottom: 5.5rem;
  }

  .fontsizing {
    font-size: 3.5rem;
  }

  .underlining {
    width: 305px;
  }

  .underliningxl {
    width: 410px;
  }

  .column-width {
    padding-left: 2em;
    padding-right: 18em;
  }
}

@media only screen and (min-width: 60em) {
  .pushmore {
    margin-bottom: 6rem;
  }

  .fontsizing {
    font-size: 4rem;
  }

  .underlining {
    width: 380px;
  }

  .underliningxl {
    width: 512px;
  }

  .column-width {
    padding-right: 28em;
  }
}

@media only screen and (min-width: 90em) {
  .masthead {
    margin-bottom: 5rem;
  }

  .pushmore {
    margin-bottom: 7rem;
  }

  .fontsizing {
    font-size: 5rem;
    margin-bottom: 1.5rem;
  }

  .underlining {
    width: 515px;
  }

  .underliningxl {
    width: 690px;
  }

  .column-width {
    padding-right: 40em;
  }
}
