<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_CA">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:url" content="{{site.url}}{{page.url}}">
  <meta property="og:site_name" content="MJ Holland's Portfolio">
  <meta name="ICBM" content="45.416667,-75.7">
  <meta name="geo.position" content="45.416667;-75.7">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Carter+One|Raleway:300" rel="stylesheet">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet"/>
</head>
<body>

  <header class="push-1-2 gutter-1-2">
    <h1 class="pad-t push-0 text-center link-animation"><a class="link-box" href="{{site-baseurl}}/index.html">
      &#x55;&#x337;&#x48;&#x337; &#x334;&#x4f;&#x334;&#x48;&#x338; &#x334;&#x53;&#x335;&#x4f;&#x338;&#x4d;&#x335;&#x45;&#x337;&#x54;&#x338;&#x48;&#x338;&#x49;&#x335;&#x4e;&#x337;&#x47;&#x335; &#x338;&#x49;&#x337;&#x53;&#x335;&#x4e;&#x334;&#x27;&#x336;&#x54;&#x334; &#x334;&#x52;&#x338;&#x49;&#x338;&#x47;&#x334;&#x48;&#x335;&#x54;&#x337; &#x335;&#x48;&#x336;&#x45;&#x338;&#x52;&#x338;&#x45;&#x338;
    </a></h1>
  </header>

  {{content}}

</body>
</html>
