<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_CA">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:url" content="{{site.url}}{{page.url}}">
  <meta property="og:site_name" content="MJ Holland's Portfolio">
  <meta name="ICBM" content="45.416667,-75.7">
  <meta name="geo.position" content="45.416667;-75.7">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Carter+One|Raleway:300" rel="stylesheet">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet"/>
  <link rel="apple-touch-icon" href="/favicon-196.png">
</head>
<body>

  <header class="push-0">
    <h1 class="masthead">
      <a class="push-0 link-box" href="{{site-baseurl}}/index.html">
        <div class="puhs-0 my-logo">
        </div>
      </a>
    </h1>
  </header>

  {{content}}

</body>
</html>
